.header-detail {
  margin-block-end: 22rem;

  @include tablette {
    margin-block-end: 13.2rem;
  }
}

// Permet de donné une nouvelle taille maximum au layout
.detail {
  max-width: 73rem;
  height: auto;
  top: calc(100% - 1.5rem); /*Pour les screen < 768px*/

  @include tablette {
    top: calc(100% - 4rem); /*Pour les screen > 768px*/
  }

  button {
    transition: 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.company {
  place-items: center;
  padding-block: 3.2rem;

  @include tablette {
    padding-block: 0;
    place-items: initial;
    grid-template-columns: 14rem auto;
  }

  &-logo {
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 1.5rem;
    bottom: calc(100% - 5rem / 2);
    display: flex;
    justify-content: center;

    img {
      transform: scale(0.8);
    }

    @include tablette {
      position: initial;
      height: 14rem;
      width: 14rem;
      border-radius: 0;
      border-bottom-left-radius: 0.6rem;
    }
  }

  &-infos {
    padding-block-start: 1.7rem;
    display: flex;
    flex-direction: column;

    @include tablette {
      padding-block-start: 0;
      padding-inline: 4.8rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-site {
    padding-block-end: 2.4rem;
    text-align: center;

    @include tablette {
      padding-block-end: 0;
      text-align: start;
    }

    &__title {
      text-transform: capitalize;
      padding-block-end: 0.8rem;

      @include tablette {
      }
    }
  }

  // A MODIFIER POUR LE DARKMODE
  &-btn {
    background-color: $violetOpacity;
    color: $violet-white;
    padding: 1.6rem 2rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    transition: 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

.detailContainer {
  background-color: $white;
  margin-inline: auto;
  border-radius: 0.6rem;
  padding: 4rem 2.4rem;

  @include tablette {
    padding: 4.8rem;
  }
}

.main-detail {
  margin-block-end: 6.4rem;

  @include tablette {
    margin-block-end: 5.3rem;
  }

  @include desktop {
    margin-block-end: 8rem;
  }
}

.mainHeader {
  display: grid;
  row-gap: 5rem;
  margin-block-end: 3.2rem;

  @include tablette {
    grid-template-columns: 2.25fr 0.75fr;
    row-gap: 0;
    margin-block-end: 4rem;
    align-items: center;
  }

  &-infos {
    & > :not(:last-child) {
      padding-block-end: 0.8rem;
    }
  }

  &-postAt {
    span {
      text-transform: capitalize;
    }
  }

  &-position {
    @include tablette {
      font-size: 2.8rem;
    }
  }

  &-location {
    text-transform: capitalize;
    color: $violet;
  }

  &-btn {
    border: none;
    background-color: $violet;
    color: $white-fixed;
    padding-block: 1.6rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
    text-align: center;
  }
}

.description {
  margin-block-end: 6.6rem;

  @include tablette {
    margin-block-end: 4rem;
  }
}

.informations {
  margin-block-end: 4rem;

  @include desktop {
    margin-block-end: 4.8rem;
  }

  &-title {
    margin-block-end: 2.8rem;
  }

  &-txt {
    margin-block-end: 3.2rem;

    @include tablette {
      margin-block-end: 2.4rem;
    }
  }

  &-list {
    // UL LIST
    li {
      margin-block-end: 0.8rem;
      display: grid;
      grid-template-columns: 0.1fr 0.9fr;

      @include tablette {
        grid-template-columns: 0.05fr 0.95fr;
      }

      :nth-child(1) {
        height: 0.4rem;
        width: 0.4rem;
        border-radius: 100%;
        background-color: $violet;
        color: $violet;
        margin-block-start: 1rem;
      }
    }

    // OL LIST
    &.numberList {
      li {
        :nth-child(1) {
          height: 0;
          width: 0;
          margin-block-start: 0rem;
        }
      }
    }
  }
}

.footer {
  &-detail {
    background-color: $white;

    .detailContainer {
      display: grid;
      border-radius: 0;
      padding: 0;
      background-color: transparent;

      @include tablette {
        align-items: center;
        grid-template-columns: 2.35fr 0.65fr;
        padding-block: 2.3rem;
      }
    }
  }

  &-infos {
    display: none;
    text-transform: capitalize;

    @include tablette {
      display: block;
    }
  }

  &-title {
    padding-block-end: 1.2rem;
  }

  &-btn {
    border: none;
    background: $violet;
    border-radius: 0.5rem;
    padding-block: 1.6rem;
    margin: 2.5rem;
    color: $white-fixed;
    text-transform: capitalize;
    text-align: center;

    @include tablette {
      margin: 0;
    }
  }
}
