.container {
  margin-inline: auto;
  padding-inline: 2.4rem;
  max-width: 111rem;

  @include tablette {
    padding-inline: 4rem;
  }

  @include desktop {
    padding-inline: 0;
  }
}

@include smallmobile {
  .modal {
    visibility: hidden; /* modal en dessous du body à mettre en visible */
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }

    &.form {
      &::after {
        border-radius: 0.6rem;
      }
    }
  }
}
