// Header
.header {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  margin-block-end: calc(7.2rem + 5rem / 2);
  background-image: url("../assets/bg-pattern-header-375.svg");

  @include tablette {
    margin-block-end: calc(8.5rem + 5rem / 2);
    background-image: url("../assets/bg-pattern-header-768.svg");
  }

  @include desktop {
    margin-block-end: calc(11.9rem + 5rem / 2);
    background-image: url("../assets/bg-pattern-header-1440.svg");
  }
}

// Nav
.nav {
  display: flex;
  justify-content: space-between;
  padding-block-start: 3.2rem;
  padding-block-end: 7.2rem;

  @include tablette {
    padding-block-start: 4.2rem;
  }

  &-logo {
    color: $white-fixed;
    text-transform: lowercase;
  }

  &-toggle-theme {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.6rem;
  }

  // Onclick toggle darkmode
  &-darkMode {
    background: transparent;
    border: none;
    transition: 0.2s ease-in-out;

    // Hover
    &:hover {
      span {
        &::before {
          background-color: $light-violet;
        }
        &::after {
          background-color: $light-violet;
        }
      }
    }

    span {
      position: relative;
      display: block;
      background-color: $white;
      border-radius: 1.2rem;
      min-height: 2.4rem;
      min-width: 4.8rem;
      overflow: hidden;
      transition: 0.5s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background-color: $violet;
        transition: 0.5s;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0.4rem;
        right: 0.4rem;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background-color: $white;
        transition: 0.5s;
        transform: translateX(200%);
      }
    }

    // CLASSE Importante pour le toggle du dark mode: a rajouter sur la classe nav-darkMode
    &.dark > span {
      background-color: $very-dark-blue;

      &::before {
        transform: translateX(-200%);
      }
      &::after {
        transform: translateX(0);
      }
    }
  }

  &-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

// Form
.form {
  position: absolute;
  background-color: $white;
  border-radius: 0.6rem;
  height: 8rem;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 4rem);

  /*
  2.4 * 2 car on à rajouter 2.4rem de padding 
  sur les coté au niveau de la nav
  */
  width: calc(100% - 2.4rem * 2);
  // ------------------------------------------

  max-width: 111rem;
  display: grid;

  // Modal !important : necesssaire pour mettre le formulaire en opacité
  z-index: 10;

  @include tablette {
    /*  
    4 * 2 car on à rajouter 4rem de padding 
    sur les cotés au niveau de la nav a partis de 768px
    */
    width: calc(100% - 4rem * 2);
    // ------------------------------------------------------------
    grid-template-columns: 1fr 2fr;
  }

  // FILTER TITLE
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include tablette {
      justify-content: initial;
      border-right: 0.1rem solid $dark-gray-opacity;
    }
  }
  // ICONS OF FILTER BY TITLE
  &-icons {
    order: 1;
    display: flex;

    @include tablette {
      order: 0;
    }

    &__filter {
      border: none;
      background-color: transparent;
      margin-inline-end: 2.4rem;

      svg {
        fill: $dark-gray;
      }

      @include tablette {
        display: none;
      }
    }

    &__search {
      display: flex;
      background-color: $violet;
      border: none;
      border-radius: 0.5rem;
      padding: 1.4rem;
      margin-inline-end: 1rem;

      svg {
        fill: $white-fixed;
      }

      @include tablette {
        margin-inline-end: 1.6rem;
        padding: 0 0 0 1.4rem;
        background-color: transparent;

        svg {
          fill: $violet;
        }
      }

      @include desktop {
        padding-inline-start: 3.2rem;
      }
    }
  }

  // MODAL
  &-modal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    // ****** ANIMATION MODAL *******
    transform-origin: center top;
    transform: scaleY(0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in;
    // ------------------------------

    @include tablette {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible;
    }

    .location {
      display: flex;
      align-items: center;
      border-right: 1px solid $dark-gray-opacity;
      padding-inline-start: 2.4rem;

      &-icon {
        margin-inline-end: 1.6rem;

        @include tablette {
          margin-inline-end: 1.6rem;
        }
      }
    }

    .fulltime {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2.6rem;
      align-items: center;

      &__container {
        display: flex;
        align-items: center;
        padding-inline-start: 2rem;

        &--checkbox {
          position: relative;
          height: 2.4rem;
          width: 2.4rem;
          cursor: pointer;
          margin-inline-start: 0;
          margin-inline-end: 1.6rem;
          appearance: none; // Apparance checkbox
          
          
          &:hover::before {
            background-color: $violet;
            opacity: 0.25;
          }
          
          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 2.4rem;
            height: 2.4rem;
            top: 0;
            left: 0;
            border: none;
            border-radius: 0.3rem;
            background-color: $very-dark-blue;
            opacity: 0.1;
            transition: 0.2s ease-in-out;
            
          }

          &:checked:before {
            content: "";
            display: block;
            position: absolute;
            background-color: $violet;
            opacity: 1;
          }

          &:checked:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 40%;
            left: 35%;
            transform: rotate(45deg) translate(-50%, -50%) scale(1.5);
          }
        }

        &--label {
          text-transform: capitalize;
          font-weight: 700;
          line-height: 2rem;
          color: $very-dark-blue;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @include desktop {
            &::after {
              content: " only";
            }
          }
        }
      }
      &-btn {
        border: none;
        text-transform: capitalize;
        background-color: $violet;
        color: $white-fixed;
        padding-block: 1.6rem;
        padding-inline: 1.4rem;
        border-radius: 0.5rem;
        margin-inline-end: 1.6rem;
        transition: 0.2s ease-in-out;

        // Hover
        &:hover {
          background-color: $light-violet;
        }
      }
    }

    @include smallmobile {
      position: absolute;
      background-color: $white;
      border-radius: 1rem;
      top: calc(100% + 5rem); /*5rem correspond a la valeur e la maquette*/
      width: 100%;
      grid-template-columns: 1fr;
      z-index: 100;

      /*"IMPORTANT pour MODAL"*/
      visibility: hidden;

      .location {
        border-bottom: 1px solid $dark-gray-opacity;
        border-right: none;
        margin-block-start: 2.4rem;
        padding-block-end: 2.4rem;
      }

      .fulltime {
        grid-template-columns: 1fr;
        padding: 2.4rem;

        &__container {
          padding-inline-start: 0;
          padding-block-end: 2.4rem;

          &--label {
            &::after {
              content: " only";
            }
          }
        }

        &-btn {
          padding-block: 1.6rem;
          width: 100%;
          max-width: 28rem;
          margin-inline: auto;
        }
      }
    }
  }

  //ANIMATION MODAL
  &.modal {
    .form-modal {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

// Main
.main {
  .cards {
    display: grid;
    column-gap: 1.1rem;
    row-gap: 5rem;

    /* taille minimum du container pour un écran de 280px*/
    grid-template-columns: repeat(auto-fit, minmax(23.2rem, 1fr));
    margin-block-end: 3.2rem;

    @include mobile {
      /* taille minimum du container pour un écran a partis de 320px*/
      grid-template-columns: repeat(auto-fit, minmax(27.2rem, 1fr));
    }

    @include tablette {
      row-gap: 6.5rem;
      margin-block-end: 5.6rem;
    }

    @include desktop {
      column-gap: 3rem;
    }
  }
  .card {
    background-color: $white;
    position: relative;
    border-radius: 0.6rem;
    padding-block-start: 5rem;
    padding-inline-start: 3.2rem;
    max-width: calc(
      111rem / 2 - 3rem
    ); //On divise par 2 pour avoir la moitié et on retire le column gap maximal.

    // Hover
    &:hover {
      .card__position {
        color: #6e8098;
      }
    }

    &__logo {
      position: absolute;
      height: 5rem;
      width: 5rem;
      bottom: calc(100% - 5rem / 2);
      right: calc(100% - 5rem - 3.2rem);
      border-radius: 1.5rem;
      display: flex;
      place-content: center;
    }

    &__img {
      transform: scale(0.6);
    }

    &__postAt {
      line-height: 2rem;
      margin-block-end: 1.6rem;

      span {
        text-transform: capitalize;
      }
    }

    &__position {
      font-size: 2rem;
      margin-block-end: 1.7rem;

      transition: 0.2s ease-in-out;
    }

    &__company {
      text-transform: capitalize;
      margin-block-end: 4.4rem;
    }

    &__location {
      color: $violet;
      margin-block-end: 3.6rem;
    }
  }
}

// Footer
.footer {
  .load-more {
    display: block;
    margin-inline: auto;
    border: none;
    background-color: $violet;
    color: $white-fixed;
    text-transform: capitalize;
    padding: 1.2rem 3rem;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
    margin-block-end: 6.2rem;

    @include desktop {
      margin-block-end: 10.4rem;
    }

    // Hover
    &:hover {
      background-color: $light-violet;
    }
  }
}

// Empty search icon
.emptySearch {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background-color: $light-gray;
  &-img {
    height: 20rem;
    margin-inline: auto;
    margin-block-end: 5rem;
  }

  &-message {
    text-align: center;
    margin-block-end: 3rem;
  }
}
