body {
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: $text-line-height;
  color: $text;
  background-color: $background;
}

:is(h1, h2, h3, h4, .h1, .h2, .h3, .h4) {
  font-weight: 700;
  color: $titles;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: 2.8rem;
  font-size: clamp(2.8rem, 2.589rem + 0.563vw, 3.4rem);
  line-height: $h1-line-height;
}

h2,
.h2 {
  font-size: 2.4rem;
  font-size: clamp(2.4rem, 2.224rem + 0.469vw, 2.9rem);
  line-height: $h2-line-height;
}

h3,
.h3 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.859rem + 0.376vw, 2.4rem);
  line-height: $h3-line-height;
}

h4,
.h4 {
  font-size: 1.4rem;
  font-size: clamp(1.4rem, 1.259rem + 0.376vw, 1.8rem);
  line-height: $h4-line-height;
}

a {
  text-decoration: none;
  color: #6e8098;
}

button {
  color: $white-fixed;
}

input[type="search"] {
  border: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $very-dark-blue;
  caret-color: $violet;
  margin-inline-start: 1rem;

  &:hover {
    &::placeholder {
      opacity: 1;
    }
  }

  @include xtrasmallmobile {
    &:not([class="location-input"]) {
      width: 50%;
    }
  }

  @include tablette {
    margin-inline-start: 0;
    width: 80%;
  }

  &::placeholder {
    color: $very-dark-blue;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablette {
      padding: 0;
    }
  }

  &[class="location-input"] {
    &::placeholder {
      @include mobile {
        // padding-inline-start: 0;
      }
      @include xtrasmallmobile {
        // padding-inline-start: 0;
      }
    }
  }

  &:focus {
    outline: none;
  }
}
