body {
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: $text-line-height;
  color: $text;
  background-color: $background;
}

:is(h1, h2, h3, h4, .h1, .h2, .h3, .h4) {
  font-weight: 700;
  color: $titles;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: 2.8rem;
  font-size: clamp(2.8rem, 2.589rem + 0.563vw, 3.4rem);
  line-height: $h1-line-height;
}

h2,
.h2 {
  font-size: 2.4rem;
  font-size: clamp(2.4rem, 2.224rem + 0.469vw, 2.9rem);
  line-height: $h2-line-height;
}

h3,
.h3 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.859rem + 0.376vw, 2.4rem);
  line-height: $h3-line-height;
}

h4,
.h4 {
  font-size: 1.4rem;
  font-size: clamp(1.4rem, 1.259rem + 0.376vw, 1.8rem);
  line-height: $h4-line-height;
}

a {
  text-decoration: none;
  color: #6e8098;
}

input[type="search"] {
  border: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  caret-color: $violet;

  &:hover {
    &::placeholder {
      opacity: 1;
    }
  }

  @include xtrasmallmobile {
    &:not([class="location-input"]) {
      width: 50%;
    }
  }

  @include tablette {
    width: 80%;
  }

  @include desktop {
    width: 100%;
  }

  &::placeholder {
    color: $very-dark-blue;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    padding-inline-start: 2rem;

    @include xtrasmallmobile {
      padding-inline-start: 1rem;
    }

    @include tablette {
      padding: 0;
    }
  }

  &[class="location-input"] {
    width: 100%;
    &::placeholder {
      @include xtrasmallmobile {
        padding-inline-start: 0;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

button {
  color: $white-fixed;
}

.container {
  margin-inline: auto;
  padding-inline: 2.4rem;
  max-width: 111rem;

  @include tablette {
    padding-inline: 4rem;
  }

  @include desktop {
    padding-inline: 0;
  }
}

@include smallmobile {
  .modal {
    visibility: hidden; /* modal en dessous du body à mettre en visible */
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }

    &.form {
      &::after {
        border-radius: 0.6rem;
      }
    }
  }
}
